* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*body {
    background: linear-gradient(#CFCFCF, #D8D8D8, #787878);
}*/

header {
    text-align: center;
    padding: 2%;
}

h1 {
    font-size: 4em;
}

main {
    width: 1200px;
    margin: 0 auto;
}

main p {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 1% 10%;
}

.conteudo-foto {
    display: flex;
    justify-content: center;
    padding: 1em 0 0 0;
}

.andre {
    width: 15%;
    border-radius: 75%;
    box-shadow: 10px 5px 40px grey;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 0.8em;
    margin: 1em 0;
}

.lista {
    display: flex;
    justify-content: center;
    gap: 5em;
    padding: 2%;
}

footer {
    width: 700px;
    margin: 2% auto;
    background: linear-gradient(grey, white 5%);
}

nav {
    padding: 1% 0 0 0;
}

nav li {
    font-size: 1.1em;
}